<html>

  <body>
    <h1>Welcome to the KickoffLabs Theme Builder</h1>
    <p>Please note, this tool is for developers and designers looking to build new KickoffLabs themes.</p>
    <p>
      <strong>This tool requires an active internet connection.</strong>
    </p>
    <p>To get started:</p>
    <ol>
      <li>Select a theme from the themes directory. </li>
      <li>Navigate to http://localhost:9393/THEME_YOU_CHOSE</li>
    </ol>
    <p>Some background...</p>
    <ul>
      <li>data.yml contains the options available to your theme.</li>
      <li>view.html is your CSS + HTML. The data items you define in data.yml with their defaults are available as well</li>
      <li>settings.yml defines overrides users may make. This allows you to supply appropriate defaults and test customizations</li>
      <li>Inline editing options are present, but the data will <strong>NEVER</strong> be persisted using this tool.</li>
    </ul>
    <p>If you have any questions, please contact us at support@kickofflabs.com</p>
    
  </body>
<html>
